general {
    colors = true
    interval = 1
}

order += "volume master"
order += "battery 0"
order += "wireless wlan0"
order += "tztime local"

wireless wlan0 {
    format_up = "W: (%quality at %essid, %bitrate) %ip"
    format_down = "W: down"
}

tztime local {
    format = "Week %V | %d %b | %a | %I:%M"
}

volume master {
    format = "♪ %volume"
    format_muted = "Mute %volume"
    device = "default"
    mixer = "Master"
    mixer_idx = 0
}

battery 0 {
    format = "%status [%percentage] %remaining"
    path = "/sys/class/power_supply/BAT1/uevent"
    integer_battery_capacity = true
    last_full_capacity = true
    hide_seconds = true
    low_threshold = 15
    threshold_type = percentage
}
