general {
    colors = true
    interval = 1
}

order += "volume master"
order += "battery 0"
order += "tztime local"

tztime local {
    format = "Week %V | %d %b | %a | %I:%M"
}

volume master {
    format = "♪ %volume"
    format_muted = "Mute %volume"
    device = "default"
    mixer = "Master"
    mixer_idx = 0
}
