#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "1",
        "2",
        "3",
        "4",
        "5",
    ],
    max_window_width: None,
    layouts: [
        "VertMainAndVertStack",
        "Monocle",
    ],
    layout_definitions: [
        (
            name: "VertMainAndVertStack",
            columns: (
                main: Some(Main(size: 0.6, split: Some(Horizontal))),
                stack: (split: Some(Horizontal)),
            )
        )
    ],
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [
        (name: "st", value: "st", x: 860, y: 390, height: 500, width: 800),
    ],
    window_rules: [
      ( window_class: "qutebrowser", spawn_on_tag: 1 ),
      ( window_class: "Chromium", spawn_on_tag: 1 ),
      ( window_title: "Firefox .*", spawn_on_tag: 1 ),
      ( window_class: "ws2", spawn_on_tag: 2 ),
      ( window_title: ".* - mpv", spawn_on_tag: 3 ),
      ( window_title: "Thunderbird .*", spawn_on_tag: 3 ),
      ( window_title: ".*- Thunar", spawn_on_tag: 3 ),
      ( window_title: "darktable", spawn_on_tag: 3 ),
      ( window_title: "GNU Image .*", spawn_on_tag: 4 ),
      ( window_title: "LibreOffice", spawn_on_tag: 4 ),
      ( window_class: "Viewnior", spawn_on_tag: 5 ),
    ],
    disable_current_tag_swap: true,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: ClickTo,
    focus_new_windows: true,
    single_window_border: true,
    sloppy_mouse_follows_focus: true,
    auto_derive_workspaces: true,
    keybind: [
        (command: Execute, value: "rofi -show run -eh 1 -font 'IBM Plex Sans 18' -theme 'Arc-Dark' -theme-str 'window {width:35%;}' -theme-str 'listview {lines:8;}'", modifier: ["modkey"], key: "space"),
        (command: Execute, value: "st", modifier: ["modkey"], key: "Return"),
        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: CloseWindow, value: "", modifier: ["modkey", "Shift"], key: "q"),
        (command: ToggleFloating, value: "", modifier: ["modkey"], key: "t"),
        (command: ToggleFullScreen, value: "", modifier: ["modkey"], key: "f"),
        (command: ToggleScratchPad, value: "st", modifier: ["modkey"], key: "o"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "l"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "h"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "Up"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "Down"),
        (command: IncreaseMainSize, value: "5", modifier: ["modkey"], key: "z"),
        (command: DecreaseMainSize, value: "1", modifier: ["modkey", "Shift"], key: "z"),
        (command: IncreaseMainCount, value: "5", modifier: ["modkey"], key: "m"),
        (command: DecreaseMainCount, value: "1", modifier: ["modkey", "Shift"], key: "m"),
        (command: NextLayout, value: "", modifier: ["modkey"], key: "p"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Shift"], key: "p"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "Up"),
        (command: Execute, value: "pamixer -i 5 --allow-boost;notify-send -u low $(pamixer --get-volume)'%'", modifier: ["modkey"], key: "equal"),
        (command: Execute, value: "pamixer -d 15;notify-send -u low $(pamixer --get-volume)'%'", modifier: ["modkey"], key: "minus"),
        (command: Execute, value: "pamixer -t; if $(pamixer --get-mute); then notify-send -u critical 'mute'; else notify-send -u normal 'sound '$(pamixer --get-volume)'%'; fi", modifier: ["modkey"], key: "0"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
    ],
    state_path: None,
)